@mixin appearFromLeft {
  animation: appearFromLeft 5s ease-in-out infinite;
  @keyframes appearFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translateX(0%);
    }
    80% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}