$white: #dfdfdf;
$superWhite: #ffffff;
$black: #161616;
$mainColor: linear-gradient(
  180deg,
  rgba(234, 131, 129, 1) 0%,
  rgba(252, 227, 150, 1) 100%
);
$secondaryColor: linear-gradient(
  135deg,
  rgba(33, 148, 223, 0.5) 0%,
  rgba(186, 26, 210, 1) 100%
);
