.offer {
  overflow: hidden;

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem 1rem;
  }

  &__check-offer-text {
    text-align: center;
    color: $white;
    font-weight: 300;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 3px solid $white;
  }

  &__btn {
    font-size: 1.5rem;
    border-radius: 3px;
    padding: 0.75rem;
    margin: 0.2rem;
    color: $white;
    @include buttonStyling;
    font-weight: bold;
  }

  &__card-box {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    margin: 3rem;
    // change to 1fr 1fr 1fr in MQ
  }

  &__card {
    border-radius: 3px;
    background-color: $blue;
  }

  &__card-top {
    text-align: center;
    color: $black;
    border-radius: 3px 3px 0 0;
  }

  &__card-bottom {
    text-align: center;
  }

  &__card-type {
    font-size: 1.75rem;
    padding: 0.25rem;
    border-bottom: 1px solid $black;
  }

  &__card-type-subtext {
    font-size: 1.25rem;
    padding: 0.25rem;
  }

  &__card-price {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: $white;
  }

  &__card-price-subtext,
  &__card-read-more,
  &__card-benefit {
    color: $white;
  }

  &__card-price-subtext {
    font-size: 1.25rem;
    margin: 0.25rem auto 2rem;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: 1px solid $white;
  }

  &__card-benefit {
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: left;
    margin-left: 4rem;
  }

  &__card-read-more {
    font-size: 2rem;
  }

  &__best-deal {
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    background-color: $blue;
    color: $white;
    padding: 0.25rem;
    font-size: 1.5rem;
    border-radius: 3px;
  }

  &__active-btn {
  &::before {
    top: 0;
    left: 0;
    border-top: 3px solid $white;
    border-left: 3px solid $white;
  }
  &::after {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
  }
  }
}
