.partnership {
  padding-top: 3rem;
  width: 100%;
  background-color: $white;
  @include backgroundStyles("../../img/mainBg.jpg");

  &__text {
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 5px $white;
    font-size: 2.25rem;
    font-weight: 300;
    border-bottom: 1px solid $white;
    margin-bottom: 2rem;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  &__partner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    height: 60px;
    font-size: 4rem;
    color: $white;
  }

  &__partner-name {
    font-size: 1.5rem;
  }
}
